<div class="jumbotron">
    <h1>Demo AzureBlobStorage Page</h1>
    <p class="lead">This page lets you upload a file to Azure Blob Storage.</p>
</div>

<div>
    <a href="@ViewBag.BlobUri">Click to download!</a>
</div>
